<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
  </head>
  <body>
    <div class="header">
      <div class="header-content">
        <a href="/newspeed">
          <img class="logo" src="../logo.png" alt="Logo" />
        </a>

        <div class="user-section">
          <% if (user) { %>
          <button
            style="background: none; border: none"
            onclick="location.href='/mypage'"
          >
            <img
              class="post-profile-pic"
              src="<%= user.profileUrl %>"
              alt="<%= user.name %>'s profile picture"
            />
          </button>
          <button id="logoutButton" type="button">로그아웃</button>
          <% } else { %>
          <button type="button">로그인</button>
          <% } %>
        </div>
      </div>
    </div>

    <ul>
      <% posts.forEach(post => { %>
      <div class="post">
        <div class="post-header">
          <img
            class="post-profile-pic"
            src="<%= post.user.profileUrl ? post.user.profileUrl : '/path/to/default/image' %>"
            alt="<%= post.user.name %>'s profile picture"
          />
          <h2 class="post-username"><%= post.user.name %></h2>
        </div>
        <h3><%= post.title %></h3>
        <img class="post-image" src="<%= post.profileUrl %>" />
        <p><%= post.content %></p>
        <% post.comments.forEach(function(comment) { %>
        <div class="comment">
          <% if(comment.user) { %>
          <div class="comment-header">
            <img
              src="<%= comment.user.profileUrl %>"
              alt="<%= comment.user.name %>'s profile picture"
            />
            <h3><%= comment.user.name %></h3>
          </div>
          <p><%= comment.content %></p>
          <% } else { %> <% } %>
        </div>
        <% }) %>

        <form
          class="comment-form"
          action="/post/<%= post.postId %>/comment"
          method="POST"
        >
          <label>
            댓글 작성:
            <input
              type="text"
              name="content"
              placeholder="댓글을 입력해주세요"
              required
            />
          </label>
          <button type="submit">댓글 작성하기</button>
        </form>
      </div>
      <% }); %>
      <script src="../side.js"></script>
      <script src="../index.js"></script>
    </ul>
  </body>
</html>
